/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space;
    color: $white;
    background: lighten(#d6383e, 2%);
    text-align: center;
    small {
        display: block;
    }
}
